#### Ejercicios con Listas

In [17]:
# 1. Crea una lista con los nombres de 5 ciudades. Muestra la primera y la última.
#    Luego agrega una nueva ciudad y muestra la lista actualizada.

ciudades = ['Santiago', 'Concepción', 'Valparaiso', 'Coquimbo', 'Arica']
print(f"Primera ciudad: {ciudades[0]} | Ultima ciudad: {ciudades[-1]}") # imprime primer y ultimo elemento
ciudades.append('Antofagasta') # Añade antofagasta a la lista
ciudades

Primera ciudad: Santiago | Ultima ciudad: Arica

['Santiago', 'Concepción', 'Valparaiso', 'Coquimbo', 'Arica', 'Antofagasta']

In [35]:
# 2. Crea una lista con los números del 1 al 10.
#    - Imprime los pares.
#    - Crea una nueva lista con los números multiplicados por 2.
numeros = list(range(1,11))
pares = [x for x in numeros if x % 2 == 0]
print(pares) # numeros pares
numeros_x2 = [x*2 for x in numeros] # nueva lista con numeros multiplicados por 2
numeros_x2

[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
# 3. Dada la lista:
#    precios = [100, 200, 300, 400, 500]
#    - Modifica el tercer valor a 350.
#    - Elimina el primer elemento.
#    - Agrega un nuevo precio al final.

precios = [100, 200, 300, 400, 500]
precios[2] = 350 # Modificar el tercer valor a 350
print(precios)
precios.pop(0) # Elimina el primer elemento
print(precios)
precios.append(600)
precios

[100, 200, 350, 400, 500]
[200, 350, 400, 500]

[200, 350, 400, 500, 600]

In [29]:
# 4. Une dos listas: una de frutas y otra de verduras, ordénalas alfabéticamente
#    y muestra la cantidad total de elementos.

frutas = ['Manzana', 'Pera', 'Naranja']
verduras = ['Lechuga', 'Apio', 'Repollo']
frutas_verduras = frutas + verduras # Unir ambas listas
frutas_verduras.sort() # Ordenado alfabeticamente
print(frutas_verduras)
len(frutas_verduras) # Cantidad total de elementos

['Apio', 'Lechuga', 'Manzana', 'Naranja', 'Pera', 'Repollo']

6

In [30]:
# 5. Usa una lista por comprensión para crear una lista con los cuadrados de los números del 1 al 10.
lista_cuadrados = list(x**2 for x in range(1, 11))
lista_cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
# 6. Dada la lista de palabras:
#    palabras = ["Python", "es", "poderoso", "y", "versátil"]
#    - Une todas las palabras en una sola cadena separada por espacios.

palabras = ["Python", "es", "poderoso", "y", "versátil"]
texto = " ".join(palabras)
texto

'Python es poderoso y versátil'

#### Ejercicios con diccionarios

In [ ]:
# 1. Crea un diccionario con información de una persona:
#    nombre, edad, ciudad.
#    Muestra cada valor accediendo por su clave.

informacion_personal = {"nombre" : "Anonimo",
                        "edad" : 28, 
                        "ciudad" : "Santiago"
}

print(informacion_personal["nombre"])
print(informacion_personal["edad"])
print(informacion_personal["ciudad"])

Anonimo
28
Santiago

In [6]:
# 2. Agrega al diccionario anterior una nueva clave: "profesión"
#    y luego actualiza la edad sumando 1 año.

informacion_personal["profesion"] = "Ingeniero"
informacion_personal["edad"] = informacion_personal["edad"] + 1

print(informacion_personal["profesion"])
print(informacion_personal["edad"])

Ingeniero
29

In [ ]:
# 3. Dado el diccionario:
#    producto = {"nombre": "Laptop", "precio": 850000, "stock": 10}
#    - Muestra sus claves
#    - Muestra sus valores
#    - Resta 2 al stock

producto = {"nombre": "Laptop", "precio": 850000, "stock": 10}

print(producto.keys())
print(producto.values())
producto["stock"] = producto["stock"] - 2
print(f"La cantidad de stock es: {producto["stock"]}")

dict_keys(['nombre', 'precio', 'stock'])
dict_values(['Laptop', 850000, 10])
La cantidad de stock es: 8

In [10]:
# 4. Crea un diccionario llamado "ventas" donde:
#    - Cada clave sea el nombre de un producto
#    - El valor sea la cantidad vendida
#    Luego muestra la venta total sumando todas las cantidades.

ventas = {'Laptop' : 3,
          'Celular' : 5,
          'Tablet' : 1}

cantidad_ventas = 0
for clave, valor in ventas.items():
    cantidad_ventas += valor
    
print(f'La cantidad de productos vendidos es: {cantidad_ventas}')

La cantidad de productos vendidos es: 9

In [36]:
# 5. Crea una lista de diccionarios con información de estudiantes:
#    [{"nombre": "Ana", "nota": 5.5}, ...]
#    Recorre la lista e imprime:
#    "Ana aprobó" si su nota >= 4.0, de lo contrario "Ana reprobó"

estudiantes = [
    {"nombre": "Juan Pérez", "nota": 6.5},
    {"nombre": "Ana Gómez", "nota": 5.2},
    {"nombre": "Luis Martínez", "nota": 7.0},
    {"nombre": "María Rodríguez", "nota": 3.8},
    {"nombre": "Carlos López", "nota": 2.0},
    {"nombre": "Sofía Fernández", "nota": 5.7},
    {"nombre": "Pedro Sánchez", "nota": 3.3},
    {"nombre": "Laura García", "nota": 4.5},
    {"nombre": "David Morales", "nota": 4.0},
    {"nombre": "Marta Ruiz", "nota": 3.0}
]

for estudiante in estudiantes:
    if (estudiante["nota"] >= 4.0):
        print(f"{estudiante["nombre"]} aprobó con nota {estudiante["nota"]}")
    else:
        print(f"{estudiante["nombre"]} reprobó con nota {estudiante["nota"]}")

Juan Pérez aprobó con nota 6.5
Ana Gómez aprobó con nota 5.2
Luis Martínez aprobó con nota 7.0
María Rodríguez reprobó con nota 3.8
Carlos López reprobó con nota 2.0
Sofía Fernández aprobó con nota 5.7
Pedro Sánchez reprobó con nota 3.3
Laura García aprobó con nota 4.5
David Morales aprobó con nota 4.0
Marta Ruiz reprobó con nota 3.0

#### Ejercicios con tuplas

In [ ]:
# 1. Crea una tupla con 5 colores y muestra el primero y el último.

colores = ("rojo", "azul", "verde", "morado", "naranja")
print(colores[0])
print(colores[-1])

rojo
naranja

In [12]:
# 2. Dada la tupla:
#    numeros = (10, 20, 30, 40, 50)
#    Convierte la tupla en lista, modifica el valor central
#    y vuelve a convertirla en tupla.

numeros = (10, 20, 30, 40, 50)
lista_numeros = list(numeros)
lista_numeros[len(lista_numeros) // 2] = 100
lista_numeros = tuple(lista_numeros)
print(lista_numeros)

(10, 20, 100, 40, 50)

In [16]:
# 3. Usa una tupla para representar coordenadas (x, y)
#    Ej: (10, 25)
#    Imprime los valores por separado.

coordenadas = (10, 25)
x, y = coordenadas[0], coordenadas[1]
print(f"Coordenada X: {x} | Coordenada Y: {y}")

Coordenada X: 10 | Coordenada Y: 25

In [22]:
# 4. Dada la tupla:
#    frutas = ("Manzana", "Pera", "Manzana", "Uva")
#    - Cuenta cuántas veces aparece "Manzana"
#    - Muestra el índice donde aparece la primera vez

frutas = ("Manzana", "Pera", "Manzana", "Uva")
print(f"Manzana se repite {frutas.count("Manzana")} veces en la tupla.")
print(f"La primera aparición se encuentra en el indice: {frutas.index("Manzana")}")

Manzana se repite 2 veces en la tupla.
La primera aparición se encuentra en el indice: 0

In [23]:
# 5. Crea una tupla anidada con dos alumnos:
#    ((nombre, edad), (nombre, edad))
#    Imprime la edad del segundo alumno.

alumnos = (("alumno_1, edad_1", ("alumno_2", "edad_2")))
alumnos[1][1]

'edad_2'

#### Ejercicios con sets

In [ ]:
# 1. Crea un set con 5 números y:
#    - Añade uno nuevo
#    - Intenta añadir uno repetido
#    - Muestra el set

In [ ]:

# 2. Dado:
#    a = {1, 2, 3, 4}
#    b = {3, 4, 5, 6}
#    - Intersección
#    - Unión
#    - Diferencia (a - b)

In [ ]:
# 3. Crea un set desde una lista con valores repetidos:
#    lista = [1, 2, 2, 3, 4, 4, 5]
#    Muestra el resultado (sin duplicados)

In [ ]:
# 4. Comprueba si un número ingresado por usuario
#    está dentro de un set de números.

In [ ]:
# 5. Usa un set para eliminar los elementos repetidos de una frase:
#    Ej: "python es genial y python es poderoso"
#    Muestra las palabras únicas.