#### Ejercicios con Listas

In [17]:
# 1. Crea una lista con los nombres de 5 ciudades. Muestra la primera y la última.
#    Luego agrega una nueva ciudad y muestra la lista actualizada.

ciudades = ['Santiago', 'Concepción', 'Valparaiso', 'Coquimbo', 'Arica']
print(f"Primera ciudad: {ciudades[0]} | Ultima ciudad: {ciudades[-1]}") # imprime primer y ultimo elemento
ciudades.append('Antofagasta') # Añade antofagasta a la lista
ciudades

Primera ciudad: Santiago | Ultima ciudad: Arica

['Santiago', 'Concepción', 'Valparaiso', 'Coquimbo', 'Arica', 'Antofagasta']

In [35]:
# 2. Crea una lista con los números del 1 al 10.
#    - Imprime los pares.
#    - Crea una nueva lista con los números multiplicados por 2.
numeros = list(range(1,11))
pares = [x for x in numeros if x % 2 == 0]
print(pares) # numeros pares
numeros_x2 = [x*2 for x in numeros] # nueva lista con numeros multiplicados por 2
numeros_x2

[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
# 3. Dada la lista:
#    precios = [100, 200, 300, 400, 500]
#    - Modifica el tercer valor a 350.
#    - Elimina el primer elemento.
#    - Agrega un nuevo precio al final.

precios = [100, 200, 300, 400, 500]
precios[2] = 350 # Modificar el tercer valor a 350
print(precios)
precios.pop(0) # Elimina el primer elemento
print(precios)
precios.append(600)
precios

[100, 200, 350, 400, 500]
[200, 350, 400, 500]

[200, 350, 400, 500, 600]

In [29]:
# 4. Une dos listas: una de frutas y otra de verduras, ordénalas alfabéticamente
#    y muestra la cantidad total de elementos.

frutas = ['Manzana', 'Pera', 'Naranja']
verduras = ['Lechuga', 'Apio', 'Repollo']
frutas_verduras = frutas + verduras # Unir ambas listas
frutas_verduras.sort() # Ordenado alfabeticamente
print(frutas_verduras)
len(frutas_verduras) # Cantidad total de elementos

['Apio', 'Lechuga', 'Manzana', 'Naranja', 'Pera', 'Repollo']

6

In [30]:
# 5. Usa una lista por comprensión para crear una lista con los cuadrados de los números del 1 al 10.
lista_cuadrados = list(x**2 for x in range(1, 11))
lista_cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 6. Dada la lista de palabras:
#    palabras = ["Python", "es", "poderoso", "y", "versátil"]
#    - Une todas las palabras en una sola cadena separada por espacios.

palabras = ["Python", "es", "poderoso", "y", "versátil"]
texto = ""
for palabra in palabras:
    texto = texto + " " + palabra

texto

' Python es poderoso y versátil'